* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url("./img/sky2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.ukraine-sign {
    height: 35px;
    width: 40px;
    position: absolute;
    top: 2%;
    left: 2%;
}

.weather-container-section {
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 20vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 45%;
}

.temp-box {
    display: flex;
    align-items: center;
}

.black {
    font-weight: bold;
}

.font {
    font-size: 20px;
}

.temp {
    font-size: 180px;
    padding-left: 20px;
}

.celsius {
    height: 40px;
}

.location-and-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fl {
    display: flex;
}

.fl p {
    margin: 2px;
}

.weather-icon {
    display: flex;
    flex-direction: column;
}

.weather-description {
    margin-top: -14%;
}

.weather-details-section {
    width: 45vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    border-left: 1px solid rgb(255, 255, 255, 0.3);
    color: white;
}

.weather-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 40vh 60vh;
    width: 80%;
    margin: 6% 0;
}

.line {
    border-bottom: 1px solid rgb(255, 255, 255, 0.6);
    padding: 10px 0;
    margin-bottom: 10px;
}

.select-city {
    border: none;
    width: 140px;
    height: 35px;
    padding: 4px;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    margin-top: 6px;
}

.option-city {
    color: gray;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
}

.number {
    text-align: right;
}